body {
    background-color: #e8f5e9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
}

.atm-machine {
    background: #1b5e20;
    padding: 20px;
    border-radius: 15px;
    width: 450px;
    border: 4px solid #00e676;
}

.atm-screen {
    background: radial-gradient(circle, #2e7d32 0%, #1b5e20 100%);
    height: 400px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* Status Bar */
.status-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0,0,0,0.3);
    padding: 10px;
    border-radius: 5px;
    color: #69f0ae;
    font-weight: bold;
    border-left: 5px solid #00e676;
}

.balance-badge {
    background: #00e676;
    color: black;
    padding: 2px 8px;
    border-radius: 3px;
    font-size: 0.9rem;
}

.menu-title {
    color: white;
    margin: 20px 0 10px 0;
    border-bottom: 1px solid #4caf50;
}

/* Menu Grid */
.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.menu-btn {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #4caf50;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-btn:hover {
    background: #00e676;
    color: black;
    transform: scale(1.05);
}

/* Unique Button Style */
.unique-btn {
    border-color: #ffeb3b; /* Yellow border for importance */
}

.icon { font-size: 2rem; margin-bottom: 5px; }

.logout-btn {
    margin-top: auto;
    background: #d32f2f;
    color: white;
    border: none;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Rajdhani', sans-serif;
}