body {
    background-color: #e8f5e9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
}

.atm-machine {
    background: #1b5e20;
    padding: 20px;
    border-radius: 15px;
    width: 400px;
    border: 4px solid #00e676;
    box-shadow: 0 0 30px rgba(0, 230, 118, 0.4);
}

.atm-screen {
    background: #000;
    height: 450px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.header-text {
    color: #00e676; /* Neon Green */
    letter-spacing: 2px;
    margin-bottom: 5px;
    text-shadow: 0 0 10px #00e676;
}

.sub-text { color: #69f0ae; font-size: 0.9rem; margin-bottom: 30px; }

/* PIN Boxes */
.pin-box-container { display: flex; gap: 15px; margin-bottom: 30px; }

.pin-box {
    width: 40px;
    height: 50px;
    border: 2px solid #2e7d32;
    color: #00e676;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.pin-box.active {
    border-color: #00e676;
    box-shadow: 0 0 15px #00e676;
}

/* Keypad */
.digital-keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 100%;
}

.digital-keypad button {
    background: #1b5e20;
    border: 1px solid #4caf50;
    color: white;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.2s;
    font-family: 'Rajdhani', sans-serif;
}

.digital-keypad button:hover {
    background: #00e676;
    color: black;
    box-shadow: 0 0 15px #00e676;
}

.clr { color: #ff5252 !important; border-color: #ff5252 !important; }
.go { color: #00e676 !important; border-color: #00e676 !important; }