/* Screen4.css */
body {
    background-color: #ffebee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.atm-machine {
    background: #ef9a9a;
    padding: 30px;
    border-radius: 20px;
    width: 480px;
    box-shadow: 0 20px 50px rgba(100, 0, 0, 0.2);
    border: 3px solid #e57373;
}

.atm-screen {
    background-color: #fff;
    border: 5px solid #c62828;
    height: 350px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Caption Box */
.caption-box {
    background: #000;
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-style: italic;
    margin-bottom: 20px;
    min-height: 40px;
}

/* Large Number Display */
.amount-display {
    font-size: 4rem;
    font-weight: bold;
    color: #333;
    margin: 20px 0;
    border-bottom: 2px solid #e57373;
    width: 80%;
}

.currency {
    font-size: 1.5rem;
    color: #888;
    vertical-align: top;
}

/* Mic Controls */
.mic-btn {
    border: 2px solid #c62828;
    padding: 15px 30px;
    border-radius: 50px;
    font-weight: bold;
    color: #c62828;
    cursor: pointer;
    background: white;
    transition: 0.3s;
    font-size: 1.2rem;
}

.mic-btn:hover {
    background: #ffcdd2;
}

.pulse {
    animation: pulseMic 1s infinite;
}

@keyframes pulseMic {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

#status {
    margin-top: 10px;
    font-weight: bold;
    color: #888;
}

/* Hardware Cash Slot */
.hardware-area {
    margin-top: 20px;
    text-align: center;
    position: relative;
    z-index: 10; /* Keeps it above the background */
}

.cash-slot {
    width: 250px;
    height: 20px;
    background: #3e2723;
    margin: 0 auto 10px auto;
    border-radius: 5px;
    position: relative;
    border: 2px solid #8d6e63;
}

/* The Money Bill */
.cash-bill {
    width: 200px;
    height: 100px;
    background: #66bb6a; /* Green money color */
    border: 1px solid #2e7d32;
    position: absolute;
    top: 5px;
    left: 25px;
    z-index: -1; /* Starts hidden BEHIND the slot */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.5rem;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    opacity: 0; /* Invisible start */
}

/* The Animation Class */
.dispense-anim {
    animation: dispense 2s forwards;
}

@keyframes dispense {
    0% { 
        top: 5px; 
        opacity: 0; 
    }
    20% { opacity: 1; } /* Visible now */
    100% { 
        top: 80px; /* Slides DOWN out of the slot */
        opacity: 1; 
    }
}

.hidden { display: none; }