/* Screen3.css */
body {
    background-color: #ffebee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.atm-machine {
    background: #ef9a9a;
    padding: 30px;
    border-radius: 20px;
    width: 480px;
    box-shadow: 0 20px 50px rgba(100, 0, 0, 0.2);
    border: 3px solid #e57373;
}

.atm-screen {
    background-color: #fff;
    border: 5px solid #c62828;
    height: 450px; /* Taller for the list */
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* Caption Box */
.caption-box {
    background: #000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-style: italic;
    font-size: 0.9rem;
    margin-bottom: 20px;
    border: 2px solid #555;
}

/* Menu List */
.menu-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-item {
    display: flex;
    align-items: center;
    border: 2px solid #ffcdd2;
    border-radius: 10px;
    padding: 10px;
    transition: 0.3s;
}

/* This triggers when the "Voice" reads the option */
.active-focus {
    border-color: #c62828;
    background-color: #ffebee;
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.number-box {
    background: #c62828;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 50%;
    margin-right: 15px;
}

.text-box {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

/* Bottom Controls */
.bottom-controls {
    margin-top: auto;
    text-align: center;
}

.mic-btn {
    border: 2px solid #c62828;
    padding: 15px;
    border-radius: 50px;
    font-weight: bold;
    color: #c62828;
    cursor: pointer;
    transition: 0.2s;
    background: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.mic-btn:hover {
    background: #c62828;
    color: white;
}

#status-text {
    font-size: 0.8rem;
    color: #888;
    margin-top: 10px;
    font-weight: bold;
}

.hardware-area {
    text-align: center;
    margin-top: 15px;
    color: #b71c1c;
    font-size: 0.8rem;
    font-weight: bold;
}